.gameController {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.gameController .generateContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 200px;
}
.gameController .challengesContainer {
    font-style: italic;
}
.gameController .buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    button {
        padding: 10px;
    }
    button:disabled {
        cursor: not-allowed;
        background-color: rgb(200, 200, 200);
    }

    .reset {
        width: 30%;
    }
    .check {
        width: 70%;
    }
}
