.recordPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recordContainer {
    h1 {
        padding-top: 0;
        margin-top: 0;
        font-size: 36px;
    }
    background-color: rgb(228, 228, 228);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 24px;
    padding: 40px;
    margin: 40px;
    text-wrap: wrap;
}
.closeButton {
    display: flex;
    justify-content: flex-end;
    svg {
        cursor: pointer;
        position: relative;
        top: -25px;
        right: -25px;
    }
}

.recordItem {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    span {
        margin: 0 15px;
    }
}
