.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    background-color: rgb(240, 240, 240);
    padding: 20px 40px;
    margin-bottom: 40px;
}
.App-header a {
    color: rgb(71, 71, 71);
    text-decoration: none;
}
